html, body {
	height: 100%;
}

main {
	background-color: #fff;
	margin: 0 auto;
	background-image: url("../images/background.jpg");
	// height: 100vh;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.page-title {
	padding: 50px 0;
	text-align: center;
	font-size: 2.5em;
	font-weight: 600;
}
