main {
	background-color: #fff;
	max-width: 960px;
	margin: 0 auto;
	background-image: url("../images/background.jpg");
	height: 100vh;
}
.index-main{
	background-image: url("../images/background-1.jpg");
}

body {
	background-color: #b3b3b3;
	font-family: 'Montserrat', sans-serif;
}
