.index-main {
  max-width: 100%;
  background-image: url("../images/background-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.landing-page {
  position: absolute;
  top: 61%;
  z-index: 1;
  text-align: center;
  width: 100%;

  .slogan {
    font-size: 4em;
    font-weight: bold;
  }

  .enter-button {
    margin: 10%;
    a {
      font-size: 3em;
      padding: 10px 50px;
      font-weight: bolder;
      color: #000;
      text-decoration: none;
      border: 6px #000 solid;
      border-radius: 20px;
    }
  }
}
