.services-content {
	display: block;
	margin: 0 auto;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.8);

	.service-menu {
		margin: 0 auto;

		p {
			margin-bottom: 20px;
			line-height: 1.8;
		}
	}
	.service-image {
		justify-content: center;
		display: grid;
		grid-template-columns: 500px 500px;
		grid-gap: 20px;
	}
}
