.team-content {
	display: block;
	margin: 0 auto;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.8);

	.barbers {
		display: flex;
		justify-content: flex-start;
		width: 75%;
		margin: 0 auto;
		padding-bottom: 50px;

		img {
			border-radius: 30px;
		}

		h1,
		h2 {
			font-weight: 600;
			text-align: center;
			padding: 5px;
		}

		h1 {
			font-size: 2em;
		}

		h2 {
			font-size: 1.4em;
		}

		.barber-social-media {
			text-align: center;
			font-size: 2em;
		}

		.barber-info {
			padding: 40px 20px;
			font-size: 1.3em;
			// float: right;
			line-height: 1.7;
		}

		@include mq($tablet-landscape) {
			display: block;

			img {
				display: block;
				margin: 0 auto;
			}

			.barber-info {
				font-size: 1em;
				line-height: 1.4;
			}
		}

		@include mq($phone) {
			display: block;

			img {
				display: block;
				margin: 0 auto;
				height: 50%;
			}

			.barber-info {
				font-size: 0.7em;
				line-height: 1.4;
			}
		}
		@media (max-width: 415px) {
			img {
				height: 250px;
			}
		}
	}
}
