// Site Colors
$footer-color: #ecd9c6;

// Text Colors
$text-color: #000;

// Media Query Breakpoints
$tablet-landscape: em(1024);
$tablet-landscape-medium: em(860);
$tablet-portait: em(768);
$tablet-portrait-medium: em(720);
$phone-wide: em(580);
$phone: em(480);
