/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

main {
  background-color: #fff;
  margin: 0 auto;
  background-image: url("../images/background.jpg");
}

body {
  font-family: "Montserrat", sans-serif;
}

.page-title {
  padding: 50px 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
}

.index-main {
  background-image: url("../images/background-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.landing-page {
  position: absolute;
  top: 61%;
  z-index: 1;
  text-align: center;
  width: 100%;
}
.landing-page .slogan {
  font-size: 4em;
  font-weight: bold;
}
@media (max-width: 30em) {
  .landing-page .slogan {
    font-size: 2em;
  }
}
.landing-page .enter-button {
  margin: 10%;
}
.landing-page .enter-button a {
  font-size: 3em;
  padding: 10px 50px;
  font-weight: bolder;
  color: #000;
  text-decoration: none;
  border: 6px #000 solid;
  border-radius: 20px;
}

.about-content {
  display: block;
  margin: 0 auto;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
}
.about-content h1 {
  padding: 50px 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
}
.about-content img {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 50px;
  margin: 0 auto;
}
.about-content .story {
  margin: 0 auto;
  padding: 50px 0;
  width: 80%;
  font-size: 2.5em;
  line-height: 80px;
}
@media (max-width: 64em) {
  .about-content .story {
    font-size: 1.5em;
    line-height: 30px;
  }
}
@media (max-width: 30em) {
  .about-content .story {
    font-size: 1em;
    line-height: 25px;
  }
}

.team-content {
  display: block;
  margin: 0 auto;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
}
.team-content .barbers {
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.team-content .barbers img {
  border-radius: 30px;
}
.team-content .barbers h1,
.team-content .barbers h2 {
  font-weight: 600;
  text-align: center;
  padding: 5px;
}
.team-content .barbers h1 {
  font-size: 2em;
}
.team-content .barbers h2 {
  font-size: 1.4em;
}
.team-content .barbers .barber-social-media {
  text-align: center;
  font-size: 2em;
}
.team-content .barbers .barber-info {
  padding: 40px 20px;
  font-size: 1.5em;
  line-height: 40px;
}
@media (max-width: 64em) {
  .team-content .barbers {
    display: block;
  }
  .team-content .barbers img {
    display: block;
    margin: 0 auto;
  }
  .team-content .barbers .barber-info {
    font-size: 1em;
    line-height: 20px;
  }
}
@media (max-width: 30em) {
  .team-content .barbers {
    display: block;
  }
  .team-content .barbers img {
    display: block;
    margin: 0 auto;
  }
  .team-content .barbers .barber-info {
    font-size: 1em;
    line-height: 20px;
  }
}

.header {
  background-color: #ecd9c6;
  width: 100%;
  display: flex;
}

.navbar {
  position: relative;
  justify-content: space-between;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.navbar .header-logo {
  text-align: center;
}
.navbar ul {
  list-style: none;
}
.navbar li {
  text-transform: uppercase;
}
.navbar a {
  color: #000;
  display: block;
  text-decoration: none;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
  border-left: 2px solid #000;
}
.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  color: white;
}
.navbar li:first-child a {
  border-left: none;
}
.navbar .navItem {
  float: left;
  display: inline;
  padding: 25px 0;
}

.footer {
  align-items: center;
}

@media (max-width: 36.25em) {
  .navbar a {
    font-size: 1em;
  }
}
.footer {
  background-color: #ecd9c6;
  display: grid;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  transition: smooth;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}
.footer h3 {
  font-weight: bold;
  padding-bottom: 10px;
}

.logo img {
  height: 130px;
  width: 130px;
}

.footerNav {
  text-align: left;
  border-left: 3px solid #000;
}
.footerNav li {
  padding-top: 10px;
}
.footerNav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding-left: 10px;
}

.contacts {
  text-align: left;
  padding-top: 10px;
}
.contacts h6 {
  padding-bottom: 10px;
}
.contacts .phone a {
  text-decoration: none;
  color: #000;
}

.hours {
  text-align: left;
}
.hours td {
  text-align: left;
}
.hours td:nth-child(2) {
  padding-left: 20px;
}

.socialMedia .icons {
  position: relative;
  margin: 0;
}
.socialMedia i {
  font-size: 2.5em;
  padding: 3px;
}

@media (max-width: 64em) {
  .logo img {
    height: 100px;
    width: 100px;
  }

  .nav,
.contacts,
.hours {
    font-size: 0.8em;
  }

  .socialMedia i {
    font-size: 2em;
  }
}
@media (max-width: 53.75em) {
  .logo img {
    height: 100px;
    width: 100px;
  }

  .nav,
.contacts,
.hours {
    font-size: 0.6em;
  }

  .socialMedia i {
    font-size: 1em;
    padding: 1px;
  }
}
@media (max-width: 36.25em) {
  .logo img {
    height: 100px;
    width: 100px;
  }

  .nav,
.contacts,
.hours {
    font-size: 0.5em;
  }

  .socialMedia i {
    font-size: 1em;
    padding: 1px;
  }
}
@media (max-width: 30em) {
  .logo img {
    height: 80px;
    width: 80px;
  }

  .nav,
.contacts,
.hours {
    font-size: 0.4em;
  }

  .socialMedia i {
    font-size: 1em;
    padding: 1px;
  }
}

/*# sourceMappingURL=styles.css.map */
